@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("") center/cover, rgba(0, 0, 0, 0.5);   /* url("../assets/img/bg.jpg") */
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player {
  position: relative;
  z-index: 2;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 120px; */
  width: 100%;
  /* margin-bottom: 28px; */
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 30px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  width: fit-content;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  /* content: "\2713"; */
  content: " ";
  background-image: url(../assets/svg/play.svg);
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 4px;
  transition: .3s;
}

.item-active::before {
  color: #C5B358;
  background-image: url(../assets/svg/pause.svg);
}

.player-icon,
.slider-icon,
.change-quote,
.settings-icon,
.links-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.settings-icon:hover,
.links-icon:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.settings-icon:active,
.links-icon:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.settings-icon {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url("../assets/svg/gear.svg");
}

.links-icon {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url("../assets/svg/links.svg");
  margin-left: 20px;
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}
.player-title {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  margin-bottom: 5px;
}

.player-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volume-slider {
  -webkit-appearance: none !important;
  background-color: rgba(255, 255, 255, 0.5);
  height:8px;
  border-radius: 5px;
  width: 180px;
  cursor: pointer;
}
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background:rgb(255, 255, 255);
  height:15px;
  width:15px;
  border-radius: 50%;
}

.timeline-container {
  position: relative;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  overflow: hidden;
}

.timeline-progress {
  bottom: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  background-color: #ffffff;
  border-radius: 5px;
}

.player-timeline-timer {
  display: flex;
  opacity: 0.8;
}

.track-timer:after {
  content: ' / ';
  white-space: pre;
}

.player-volume {
  height: 30px;
  margin-top: 15px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.volume-button {
  background-image: url("../assets/svg/volume.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: 0.8;
  transition: all 0.3s ease 0s;
}

.volume-button:hover {
  opacity: 1;
}

.mute {
  background-image: url("../assets/svg/volume-block.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 230px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 220px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
  z-index: 1;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
  position: relative;
}

.footer-left{
  width: 122px;
  display: flex;
  justify-content: flex-start;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.school-link{
  display: block;
  width: 121px;
  height: 45px;
  background-image: url(../assets/svg/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.author-link, .author-link:active, .author-link:visited {
  color: #fff;
  text-decoration: none;
}
.author-link:hover {
  text-decoration: underline;
}

.dialogOfSettings, .dialogOfLinks {
  min-width: 450px;
  position: absolute;
  bottom:  70px;
  left: 20px;
  color: rgb(91 91 91);
  background-color: #D6D6D6;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.dialogOfLinks {
  min-width: 350px;
}

.link-name, .link-url {
  height: 30px;
  width: 100%;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid #999;
  outline: none;
  padding: 0 10px;
}

.saveBtn, .deleteBtn {
  border: 1px solid #999;
  border-radius: 6px;
  background: rgb(214, 214, 214);
  font-size: 16px;
  line-height: 34px;
  padding: 0px 15px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.saveBtn.nosave {
  cursor: not-allowed;
}

.deleteBtn {
  display: none;
}

.deleteBtn.show {
  display: block;
}

.saveBtn:hover, .deleteBtn:hover {
  background: linear-gradient(rgba(214, 214, 214, 0), rgba(255, 255, 255, 0.37));
}

.dialogOfSettings.show, .dialogOfLinks.show {
  opacity: 1;
  z-index: 2;
  transition: opacity 0.2s ease-in-out;
}

.dialogOfSettings ::-webkit-scrollbar, .dialogOfLinks ::-webkit-scrollbar {
  width: 13px;
	height: 13px;
}

.dialogOfSettings ::-webkit-scrollbar-thumb, .dialogOfLinks ::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.8);
  background-clip: padding-box;
  border-radius: 7px;
	border: 3px solid transparent;
}

.dialog-header {
  font-size: 18px;
  font-weight: bold;
  background-color: #bababa;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}

.dialog-subtitle {
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  text-align: left;
  background-color: #bababa;
}

.area {
  border-bottom: 1px solid #999;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.area-options {
  display: flex;
}

.title-link, .title-link:visited, .title-link:active {
  text-decoration: none;
  color: #5B5B5B;
}

.dialog-body {
  overflow-y: auto;
  max-height: 500px;
}

.dialog-list-body {
  overflow-y: auto;
  max-height: 500px;
  display: none;
}

.dialog-list-body.show {
  display: block;
}

.edit-link-body {
  display: none;
}

.edit-link-body.show {
  display: flex;
  flex-direction: column;
}

.link-area {
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  align-items: center;
  border-bottom: 1px solid rgb(153, 153, 153);
}

.set-link-title-name, .set-link-title-url {
  width: 100px;
  text-align: left;
}

.radioGroup {
	display: inline-block;
  font-size: 0;
}
.radioGroupItem {
	display: inline-block;
}
.radioGroup input[type=radio] {
	display: none;
}
.radioGroup input[type=checkbox] {
	display: none;
}
.radioGroup label {
  border: 1px solid #999;
  font-size: 16px;
	display: inline-block;
	line-height: 34px;
	cursor: pointer;
	border-right: none;
	user-select: none;
  padding: 0px 15px;
}
 
.radioGroup .radioGroupItem:first-child label {
	border-radius: 6px 0 0 6px;
}
.radioGroup .radioGroupItem:last-child label {
  border-right: 1px solid #999;
	border-radius: 0 6px 6px 0;
}

.radioGroup input[type=radio] + label, .radioGroup input[type=checkbox] + label{
	background: #D6D6D6;
}
 
.radioGroup input[type=radio]:checked + label, .radioGroup input[type=checkbox]:checked + label {
	background-color: #9bcb75;
}

.radioGroup input[type=radio]:checked + label {
  cursor: auto;
}
 
.radioGroup input[type=radio] + label:hover, .radioGroup input[type=checkbox] + label:hover {
  background: linear-gradient(#d6d6d600, #ffffff5e);
}

.radioGroup input[type=radio]:checked + label:hover, .radioGroup input[type=checkbox]:checked + label:hover {
  background: linear-gradient(#9bcb75, #9bcb75);
}

.close-button {
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
  background-image: url(../assets/svg/closeBtn.svg);
  background-size: contain;
  width: 30px;
  height: 30px;
}

.add-button {
  position: absolute;
  left: 20px;
  top: 7.5px;
  cursor: pointer;
  background-image: url(../assets/svg/addBtn.svg);
  background-size: contain;
  width: 25px;
  height: 25px;
}

.add-button.back {
  background-image: url(../assets/svg/backBtn.svg);
}

.edit-link-button {
  cursor: pointer;
  background-image: url(../assets/svg/editBtn.svg);
  background-size: contain;
  width: 25px;
  height: 25px;
}

.close-button:hover, .add-button:hover, .edit-link-button:hover, .title-link:hover {
  opacity: 0.6;
}


@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

@media (max-width: 767px) {
  .dialogOfSettings {
    min-width: 0;
    width: 280px;
  }
  .dialogOfLinks {
    min-width: 0;
    width: 280px;
  }
  .header {
    flex-wrap: wrap;
    height: 100%;
  }
  .player{
    width: 100%;
    border-bottom: 1px solid rgb(255 255 255 / 50%);
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .weather {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .volume-slider {
    width: 95%;
  }
  .greeting-container{
    flex-direction: column;
  }
  .greeting {
    font-size: 26px;
  }
  .name {
    font-size: 20px;
    text-align: center;
  }
  .time {
    font-size: 50px;
    min-height: 0;
  }
  .date {
    font-size: 16px;
  }
  .footer {
    height: 300px;
  }
  .footer-quote {
    position: absolute;
    bottom: 140px;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    z-index: 1;
  }
  .dialogOfSettings .area {
    padding: 15px 0;
    flex-direction: column;
  }
  .area-tags label {
    font-size: 14px;
  }
  .area-title{
    padding-bottom: 10px;
  }
}